*{
    margin: 0;
    padding: 0;
}
 
nav{
    background: black;
    padding: 10px;
    height: 45px;
    display: flex;
    justify-content: space-around;
}

nav a{
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
}

.mover{
    margin-top: 25%;
    margin-right: 7%;
    font-size: 18px;
}






