*{
    margin: 0;
    padding: 0;
}
 
nav{
    background: black;
    padding: 10px;
    height: 45px;
    display: flex;
    justify-content: space-around;
}

nav a{
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
}

.mover{
    position: absolute;
    top: 55%;
    left: 50%;
    right: 7%;
    bottom: 25%;
    color: white;
    font-size: 18px;
    height: 320px;
    /* background-color: rgba(0, 0, 0, 0.4);   */
    padding: 10px;
}









